In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (8.3.0)

In [1]:
import mysql.connector as connection

In [42]:
try:
    mydb = connection.connect(
        host="localhost",
        user="root",
        passwd="root@1234",
        use_pure=True
    )
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('AkBank',), ('employees',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [8]:
mydb

In [13]:
conn = connection.connect(
        host="localhost",
        user="root",
        passwd="root@1234",
        use_pure=True
    )

In [14]:
cur = conn.cursor()

In [24]:
!cur.execute("create database AkBank")

zsh:1: number expected

In [31]:
cur.execute("SHOW DATABASES")

In [32]:
res = cur.fetchall()

In [33]:
res

[('AkBank',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [30]:
try:
    mydb = connection.connect(
        host="localhost",
        user="root",
        passwd="root@1234",
        use_pure=True
    )
    
    query = "create database employees;"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Database Created")
    
except Exception as e:
    mydb.close()
    print(str(e))

Database Created

In [38]:
try:
    mydb = connection.connect(
        host="localhost",
        database="employees",
        user="root",
        passwd="root@1234",
        use_pure=True
    )
    print(mydb.is_connected())
    
    query = "CREATE TABLE employeeDetails(employeeId INT(10) AUTO_INCREMENT PRIMARY KEY, firstName VARCHAR(60), lastName VARCHAR(20), joiningDate DATE, department VARCHAR(20), jobTitle VARCHAR(10));"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created")
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created

In [41]:
try:
    mydb = connection.connect(
        host="localhost",
        database="employees",
        user="root",
        passwd="root@1234",
        use_pure=True
    )
    print(mydb.is_connected())
    
    query = 'INSERT INTO employeeDetails VALUES ("1234", "Ananthakrishna", "Kalle", "2019-10-21", "IT", "DA")'
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created")
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created